@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@400;700&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300..1000&display=swap');
.cards{
    width: 100%;
    height: auto;
    display: flex; /* Use flexbox */
    justify-content: center; /* Center items horizontally */
}
/* .card__image{
  width: 8;
} */
.card_holder{
    width: 70%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    margin: 1rem auto 4rem auto;
    padding: 0;
    list-style-type: none;
    position: relative;
    justify-self: center;
}
.card {
    max-width: 100%;
    min-width: 50%;
    width: 100%!important;
    position: relative;
    display: block;
    height: 100%;  
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
  }
  .card:hover .card__image {      
    filter: blur(2px);
    filter: brightness(0.4);
  }

  .card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;      
    border-radius: calc(var(--curve) * 1px);    
    background-color: var(--surface-color);      
    transform: translateY(100%);
    transition: .2s ease-in-out;
  }
  .card:hover .card__overlay {
    transform: translateY(0);
  }
  
  .card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;    
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
  }
  .card:hover .card__header-text{
    display:contents;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 3%;
    border-radius: 10%;
    backdrop-filter: blur(5px);
  }
  .card__header-text{
    display: none;
  }
    
  
  .card:hover .card__header {
    transform: translateY(0);
  }
  
  
  .card__title {
    font-size: 1.4em;
    font-family: "Oswald", sans-serif;
    color: #ffffff;
    margin: 0 0 .3em;
  }
  
  
  .card__status {
    font-size: 1em;
    font-family:"Yanone Kaffeesatz",sans-serif;
    color: #b5c89c;;
  }
  
  .card__description {
    padding: 2em 2em 2em;
    margin: 0;
    color: #6b6b6b;
    background-color: rgba(255, 255, 255, 0.87);
    border-radius: 2%;
    font-family:'Oswald';  
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    display: flex;
    justify-content: center;
  } 

  @media screen and (max-width: 768px){
    .card:click .card__header {
      transform: translateY(0);
    }
    .card:click .card__header-text{
      display:contents;
      background-color: rgba(255, 255, 255, 0.5);
      padding: 3%;
      border-radius: 10%;
      backdrop-filter: blur(5px);
    }
    .card:click .card__overlay {
      transform: translateY(0);
    }
    .card:click .card__image {      
      filter: blur(2px);
      filter: brightness(0.4);
    }
    /* .card_holder{
      margin: 0;
    } */

  }
  @media screen and (max-width: 500px){
    .card_holder{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0;
    }
    

  }

  @media screen and (max-width: 370px){
    .card_holder{
      /* margin: 4rem 0; */
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    } 
  }  
 
    

 