.carousalItem{
    width: 100%;
    max-height: 700px;
    background-color: black;
}
img{
    width: 100%;
}
.textCarousal{
    display: block;
}
.itemTitle{
    font-family: "Lobster";
    font-size: 17vh;
}
.itemDescription{
    font-family: "Oswald,sans-serrif";
    font-size: 2vh;
}
.carousalItem:hover + .textCarousal{
    display: block;
}
.test{
    overflow: hidden;
    border-radius: 10px;
}