/* .loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
    background-color: #0f0f0f;
    background-size: var(--s) calc(2*var(--s));
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  
  .loading-screen p {
    margin-top: 10px;
    font-size: 18px;
  }
  .notfoundcard{
    font-family: "Lobster";
    font-size: 5vh;
  } */

  .text{
    font-size: 10vh;
    font-weight: bold;
    color: white;
  }